body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #292929;
    text-align: left;
    background-color: #fff;
}
a {
    color: #5FCB71;
    text-decoration: none;
    background-color: transparent;
}
.mr-auto, .mx-auto {
    margin-right: auto !important;
}
.header {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 280px;
    background: #5FCB71;
    color: #fff;
}

.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,0.5);
    border-color: rgba(255,255,255,0.1);
}

.header .navbar-dark .navbar-toggler {
    border-radius: 2px;
    -webkit-opacity: .8;
    -moz-opacity: .8;
    opacity: .8;
    border: 1px solid rgba(255,255,255,0.8);
    padding: .25rem .6rem;
}
.header .navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(256,256,256, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.header .blog-name {
    font-weight: bold;
    font-size: 1.5rem;
    color: #fff;
}

.header .blog-name a {
    color: #fff;
}

.header .navbar {
    padding: 2rem 1rem;
}
.collapse:not(.show) {
    display: none;
}
.profile-section .profile-image {
    max-width: 160px;
}
.profile-section .bio {
    font-size: 0.875rem;
}
.ml-auto, .mx-auto {
    margin-left: auto !important;
}
.list-inline-item {
    display: inline-block;
}
.list-inline-item:not(:last-child) {
    margin-right: .5rem;
}
.social-list a {
    width: 32px;
    height: 32px;
    padding-top: 5px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
    background-color: #fff;
}
.btn-primary {
    color: #fff;
}
.header .btn-primary {
    background: rgba(0,0,0,0.3);
    border-color: transparent;
    font-size: 1rem;
    padding-top: 0.5rem;
}
@media (max-width: 991.98px) {
    .header {
        position: static;
        width: inherit;
        height: auto;
    }
    .header .navbar {
        padding: 1rem;
    }
    .header .blog-name {
        width: 100%;
        position: absolute;
        left: 0;
        top: 1.2rem;
    }
}

@media (min-width: 992px) {
    .pt-lg-4, .py-lg-4 {
        padding-top: 1.5rem !important;
    }
    .navbar-expand-lg {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }
}
